@inject IColumnsViewCalculator columnsViewCalculator;

<div class="@CssClass preview-branch-block__wrapper block__wrapper"
     @onclick="HandleBlockClick" @onclick:stopPropagation="true">

    <div class="preview-branch-block__branch-wrapper" style="@styleBranchColumns">

        <div class="preview-branch-block__condition">
            <div class="preview-branch-block__label">
                @ViewModel.Condition
            </div>
        </div>

        <div class="preview-branch-block__branch preview-branch-block__branch--left">
            <div class="preview-branch-block__label">
                @ViewModel.LeftBranch
            </div>
        </div>

        <div class="preview-branch-block__branch preview-branch-block__branch--right">
            <div class="preview-branch-block__label">
                @ViewModel.RightBranch
            </div>
        </div>
    </div>

    <div class="preview-branch-block__result-wrapper" style="@styleResultColumns">

        <div class="preview-branch-block__result preview-branch-block__result--left">
            @if (LeftResultContent != null)
            {
                @LeftResultContent
            }
            else
            {
                <Block ViewModel="@ViewModel.LeftResult" />
            }
        </div>

        <div class="preview-branch-block__result preview-branch-block__result--right">
            @if (RightResultContent != null)
            {
                @RightResultContent
            }
            else
            {
                <Block ViewModel="@ViewModel.RightResult" />
            }
        </div>

    </div>

</div>

@code {
    [Parameter] public string CssClass { get; set; }

    [Parameter] public BranchBlockVM ViewModel { get; set; }
    [Parameter] public RenderFragment LeftResultContent { get; set; }
    [Parameter] public RenderFragment RightResultContent { get; set; }

    [CascadingParameter] List<int> ColumnsWidth { get; set; }

    [Parameter] public EventCallback<Guid> OnBlockSelected { get; set; }

    string styleResultColumns => columnsViewCalculator.GetResultWrapperStyle(ViewModel, ColumnsWidth);
    string styleBranchColumns => columnsViewCalculator.GetBranchWrapperStyle(ViewModel, ColumnsWidth);

    async Task HandleBlockClick() => await OnBlockSelected.InvokeAsync(ViewModel.Id);

}
