@page "/diagram"
@inject AppState AppState
@implements IDisposable

<PageHeader>
    @if (isEditMode)
    {
        <input class="diagram__name-edit" @bind="@model.Name" @bind:event="oninput" placeholder="diagram name" />
    }
    else
    {
        <h1>
            @model?.Name
        </h1>
    }
</PageHeader>

<PageContent>

    <div class="diagram__wrapper">

        <CascadingValue Value="@isEditMode">

            <Block Model="@model.RootBlock" />

        </CascadingValue>

    </div>

    <DiagramMenu EditMode="@isEditMode" OnEdit="@HandleEdit" OnPreview="@HandlePreview" />

</PageContent>

@code {
    DiagramModel model;

    bool isEditMode;

    protected override void OnInitialized()
    {
        if (AppState.CurrentDiagram is null)
            AppState.SetCurrentDiagram(DiagramHelpers.GetNewDiagram());

        model = AppState.CurrentDiagram;

        AppState.OnChange += AppStateChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= AppStateChanged;
    }

    void AppStateChanged() => StateHasChanged();

    void HandleEdit()
    {
        isEditMode = true;
        AppState.SetSelectedBlockId(null);
    }

    void HandlePreview()
    {
        isEditMode = false;
    }

}
