@page "/diagram"
@inject AppState AppState
@implements IDisposable

<PageHeader>
    @if (editMode)
    {
        <input class="diagram__name-edit" @bind="@model.Name" @bind:event="oninput" placeholder="diagram name" />
    }
    else
    {
        <h1>
            @model?.Name
        </h1>
    }
</PageHeader>

<PageContent>

    <div class="diagram__wrapper">

        <Block Model="@model.RootBlock" />

    </div>

    <DiagramMenu EditMode="@editMode" OnEdit="@HandleEdit" OnPreview="@HandlePreview" />

</PageContent>

@code {
    DiagramModel model;

    bool editMode;

    protected override void OnInitialized()
    {
        if (AppState.CurrentDiagram is null)
            AppState.SetCurrentDiagram(DiagramHelpers.GetNewDiagram());

        model = AppState.CurrentDiagram;
        editMode = AppState.EditMode;

        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

    void HandleEdit()
    {
        editMode = true;
        AppState.SetEditMode(editMode);
        AppState.SetSelectedBlockId(Guid.Empty);
    }

    void HandlePreview()
    {
        editMode = false;
        AppState.SetEditMode(editMode);
    }

}
