@page "/diagram"
@page "/diagram/{id:guid}"

@inject AppState AppState
@inject IDiagramService diagramService
@inject NavigationManager navigationManager

@implements IDisposable

<PageTitle>@pageTitle</PageTitle>

<PageHeader>
    @if (isEditMode)
    {
        <DiagramEditHeader ViewModel="@viewModel" @ref="editHeaderRef" />
    }
    else
    {
        <h1 class="diagram__name">
            @viewModel?.Name
        </h1>
    }
</PageHeader>

<PageContent>

    @if (errorMessageVisible)
    {
        <MessagePanel Message="@errorMessage" />
    }
    else if (viewModel is null)
    {
        <MessagePanel Message="Loading diagram..." />
    }
    else
    {
        @if (firstBlockSelectorVisible)
        {
            <FirstBlockSelector OnTextBlockSelected="@HandleFirstBlockText" OnBranchBlockSelected="@HandleFirstBlockBranch" />
        }
        else
        {
            @if (isEditMode)
            {
                <div class="diagram__edit-info">
                    <SvgIcon SvgUrl="/assets/info-icon.svg" />
                    Click on item below to start editing
                </div>
            }

            <div class="diagram__wrapper">

                @if (emptyMessageVisible)
                {
                    <MessagePanel Message="Diagram is empty" CssSufix="empty" />
                }
                else
                {
                    <CascadingValue Value="@isEditMode">

                        <CascadingValue Value="@viewModel?.ColumnsWidth">

                            <Block ViewModel="@viewModel.RootBlock" />

                        </CascadingValue>

                        <ColumnSettings Widths="@viewModel.ColumnsWidth" OnWidthsChanged="@HandleComumnWidthChanged" />

                    </CascadingValue>
                }

            </div>
        }
    }

    <DiagramMenu EditMode="@isEditMode" DiagramOwner="@viewModel?.Owner" CurrentUser="@currentUser" Disabled="@errorMessageVisible"
                 OnEdit="@HandleEdit" OnPreview="@HandlePreview" OnDelete=@HandleDelete OnDownload="@HandleDownload"
                 OnDuplicate="@HandleDuplicate" OnSave="@HandleSave" />

    <NavMenu @bind-IsOpened="@isMenuOpened" UserAuthenticated="@isAuthenticated" OnNewDiagram="@HandleNewDiagram" />

</PageContent>

@if (deleteDialogVisible)
{
    <DeleteDiagramDialog DiagramName="@viewModel.Name" OnCancel="@HandleDeleteCancel" OnConfirm="@HandleDeleteConfirm" />
}

<SplashScreenDialog IsVisible="@savingDialogVisible" Message="Saving diagram..." />

<SplashScreenDialog IsVisible="@deletingDialogVisible" Message="Deleting diagram..." />


<InfoDialog @bind-IsVisible="@errorDialogVisible" Message="@errorDialogMessage" CssSufix="error" IconUrl="/assets/error-icon.svg" />

<InfoDialog @bind-IsVisible="@savedDialogVisible" Message="diagram has been saved" IconUrl="/assets/check-icon.svg" />

<InfoDialog @bind-IsVisible="@copiedDialogVisible" Message="new diagram has been created" IconUrl="/assets/check-icon.svg" />


@code {
    [Parameter] public Guid? Id { get; set; }

    [CascadingParameter] Task<AuthenticationState> authenticationStateTask { get; set; }

    DiagramVM viewModel;

    string pageTitle => $"Nassi–Shneiderman Diagram{(!string.IsNullOrWhiteSpace(viewModel?.Name) ? $": {viewModel.Name}" : "")}";

    string currentUser = null;
    bool isAuthenticated => currentUser is not null;

    bool isMenuOpened;

    bool isEditMode;
    bool deleteDialogVisible;
    bool savingDialogVisible;
    bool deletingDialogVisible;

    string errorMessage;
    bool errorMessageVisible => !string.IsNullOrEmpty(errorMessage);
    bool emptyMessageVisible => viewModel.RootBlock is null;

    string errorDialogMessage;
    bool errorDialogVisible;
    bool savedDialogVisible;
    bool copiedDialogVisible;

    bool firstBlockSelectorVisible => viewModel?.RootBlock is null && isEditMode;

    DiagramEditHeader editHeaderRef;

    protected override async Task OnParametersSetAsync()
    {
        await SetCurrentUser();

        if (Id is not null)
        {
            var diagram = await diagramService.GetDiagramAsync(Id.Value);

            if (diagram is null)
            {
                errorMessage = "Sorry, there was an error loading the diagram";
                return;
            }

            AppState.SetCurrentDiagram(diagram);
        }

        if (AppState.CurrentDiagram is null)
        {
            AppState.SetCurrentDiagram(diagramService.CreateNewDiagram());
            isEditMode = true;
        }
        viewModel = AppState.CurrentDiagram;
    }

    protected override void OnInitialized()
    {
        AppState.OnChange += AppStateChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && isEditMode)
            await editHeaderRef.Focus();
    }

    public void Dispose()
    {
        AppState.OnChange -= AppStateChanged;
        AppState.SetCurrentDiagram(null);
    }

    void AppStateChanged()
    {
        isMenuOpened = false;
        StateHasChanged();
    }

    async Task SetCurrentUser()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        currentUser = user.Identity.IsAuthenticated ? user.Identity.Name : null;
    }

    void HandleFirstBlockText()
    {
        viewModel.RootBlock = new TextBlockVM();
        AppState.SelectBlock(viewModel.RootBlock.Id);
    }

    void HandleFirstBlockBranch()
    {
        viewModel.RootBlock = new BranchBlockVM();
        AppState.AddBlock(viewModel.RootBlock);
        AppState.SelectBlock(viewModel.RootBlock.Id);
    }

    void HandleEdit()
    {
        isMenuOpened = false;
        isEditMode = true;
        AppState.SelectBlock(null);
    }

    void HandlePreview()
    {
        isMenuOpened = false;
        isEditMode = false;
    }

    void HandleDelete()
    {
        isMenuOpened = false;
        errorDialogVisible = false;
        deleteDialogVisible = true;
    }

    void HandleDeleteCancel()
    {
        deleteDialogVisible = false;
    }

    async Task HandleDeleteConfirm()
    {
        deleteDialogVisible = false;
        deletingDialogVisible = true;

        var existsOnServer = await diagramService.CheckIfDiagramExistsAsync(viewModel.Id);
        var result = existsOnServer
            ? await diagramService.DeleteDiagramAsync(viewModel.Id)
            : true;

        deletingDialogVisible = false;

        if (result)
        {
            navigationManager.NavigateTo("/");
        }
        else
        {
            errorDialogMessage = "an error occurred while deleting diagram";
            errorDialogVisible = true;
        }
    }

    void HandleDuplicate()
    {
        isMenuOpened = false;

        var copy = diagramService.CreateDiagramCopy(viewModel);

        AppState.SetCurrentDiagram(copy);
        viewModel = copy;

        copiedDialogVisible = true;
    }

    void HandleNewDiagram()
    {
        Id = null;

        var diagram = diagramService.CreateNewDiagram();
        AppState.SetCurrentDiagram(diagram);
        viewModel = diagram;
        isEditMode = true;
    }

    async Task HandleDownload()
    {
        isMenuOpened = false;
        await diagramService.DownloadDiagramAsync(viewModel);
    }

    async Task HandleSave()
    {
        isMenuOpened = false;
        isEditMode = false;
        errorDialogVisible = false;
        savedDialogVisible = false;

        savingDialogVisible = true;

        var result = await diagramService.SaveDiagramAsync(viewModel);

        savingDialogVisible = false;

        if (result)
        {
            savedDialogVisible = true;
        }
        else
        {
            errorDialogMessage = "an error occurred while saving diagram";
            errorDialogVisible = true;
        }
    }

    void HandleComumnWidthChanged()
    {
        StateHasChanged();
    }
}
