@page "/"
@inject NavigationManager navigationManager
@inject AppState AppState
@inject IDiagramService diagramService;

<PageTitle>Nassi–Shneiderman Diagrams Generator</PageTitle>

<PageHeader @ref="pageHeader">
    <h1>
        Nassi–Shneiderman diagram generator
    </h1>
</PageHeader>

<PageContent>
    <section class="index__block-wrapper">

        <PreviewTextBlock Model="@(new TextBlockModel("Start work"))" CssClass="index__block index__title-block">
            <ChildContent>

                <PreviewBranchBlock Model="@(new BranchBlockModel { Condition = "Open existing diagram?" })" CssClass="index__block">
                    <LeftResultContent>

                        <PreviewBranchBlock Model="@(new BranchBlockModel { Condition = "From file?" })">

                            <LeftResultContent>
                                <FileButtonBlock Model="@(new FileButtonBlockModel("Select file", SelectFileClick ))" CssClass="index__action-block" />
                            </LeftResultContent>

                            <RightResultContent>
                                <AuthorizeView>
                                    <Authorized>
                                        <ButtonBlock Model="@(new ButtonBlockModel("View list",  ViewListClick))" CssClass="index__action-block" />
                                    </Authorized>
                                    <NotAuthorized>
                                        <ButtonBlock Model="@(new ButtonBlockModel("Log in", LoginClick,"to view your diagrams") )"
                                                     CssClass=" index__action-block index__action-block--login" />
                                    </NotAuthorized>
                                </AuthorizeView>
                            </RightResultContent>

                        </PreviewBranchBlock>
                    </LeftResultContent>

                    <RightResultContent>
                        <ButtonBlock Model="@(new ButtonBlockModel("New diagram", NewDiagramClick ))" CssClass="index__action-block index__action-block--big" />
                    </RightResultContent>

                </PreviewBranchBlock>

            </ChildContent>
        </PreviewTextBlock>
    </section>

    <button @onclick="TestDiagramClick">Test diagram</button>

</PageContent>

@code {
    private PageHeader pageHeader;

    void LoginClick() => pageHeader.ShowLoginForm();

    void ViewListClick() => navigationManager.NavigateTo("/my-diagrams");

    void SelectFileClick(string fileContent)
    {
        var diagram = diagramService.GetDiagram(fileContent);

        AppState.SetCurrentDiagram(diagram);
        navigationManager.NavigateTo("/diagram");
    }

    void NewDiagramClick() => navigationManager.NavigateTo("/diagram");

    void TestDiagramClick()
    {
        var test = new TextBlockModel
            {
                Id = Guid.NewGuid(),
                Text = "Start block",
                Child = new TextBlockModel
                {
                    Id = Guid.NewGuid(),
                    Text = "Second block",
                    Child = new TextBlockModel("Third")
                }
            };
        var diagram = new DiagramModel
            {
                Name = "New diagram",
                RootBlock = test,
            };

        var fileBlock = new BranchBlockModel
            {
                Condition = "From file?",
                LeftResult = new TextBlockModel("Select file"),
                RightResult = new TextBlockModel("View list", test),
            };
        var openBlock = new BranchBlockModel
            {
                Condition = "Open existing diagram?",
                LeftResult = fileBlock,
                RightResult = new TextBlockModel("New diagram"),
            };
        var home = new DiagramModel
            {
                Name = "Start page",
                RootBlock = openBlock
            };

        AppState.SetCurrentDiagram(home);

        navigationManager.NavigateTo("/diagram");
    }
}